body {
    background: #fafafa;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
}


#paperDrawerPanel [main] {
    background-color: lightgray;
}

#paperDrawerPanel [drawer] {
    border-right: 1px solid whitesmoke;
}

#paperDrawerPanel[right-drawer] [drawer] {
    border-left: 1px solid white;
}
